.app-slect-container {
  font: 2em sans-serif;
}

.app-slect-container a{
  text-decoration: none;  
  color: rgb(235, 235, 235);
}

.app-slect-container a:hover, a:visited, a:link, a:active {
  color: rgb(235, 235, 235);
}
.app-slect-container  ul,ol{list-style: none;}

.app-slect-container li{
  width: 100%;
}

