.custom-input-box {
  position: relative;
  width: 200px;
  margin-top: 10px;
}
.custom-input-box input {
  --tw-ring-color: none;
  outline: none;
  border: none;
  margin-bottom: 20px;
  color: rgb(155, 155, 155);
  font-size: 16px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.custom-input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-size: 16px;
  color: rgb(155, 155, 155);
  pointer-events: none;
  transition: all 0.5s;
  user-select: none;
}
.custom-input-box input:focus + label,
.custom-input-box input:valid + label {
  top: -20px;
  color: #fff;
  font-size: 12px;
}
