@font-face {
  font-family: "iconfont"; /* Project id 3859557 */
  src: url('iconfont.woff2?t=1674469977621') format('woff2'),
       url('iconfont.woff?t=1674469977621') format('woff'),
       url('iconfont.ttf?t=1674469977621') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e678";
}

.icon-bohui:before {
  content: "\e651";
}

.icon-chuli:before {
  content: "\e652";
}

.icon-zhankai:before {
  content: "\e63a";
}

.icon-shouqi:before {
  content: "\e63b";
}

