@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1673405342435') format('woff2'),
       url('iconfont.woff?t=1673405342435') format('woff'),
       url('iconfont.ttf?t=1673405342435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e63a";
}

.icon-shouqi:before {
  content: "\e63b";
}

