.option-add-bar {
  width: 100%;
  height: 38px;
  border-radius: 0 0 25px 25px;
  background: rgba(27, 27, 27, 0.9);
}

.option-add-bar-button {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0px;
}

.option-add-bar-button-icon:hover {
  color: rgb(45, 157, 239);
  cursor: pointer;
}

.create-box {
  position: relative;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-key {
  width: 80px;
}

.option-value {
  margin-right: 30px;
  width: 185px;
}

.input-box input {
  display: inline-block;
  outline: none;
  border: none;
  width: 200px;
  margin-bottom: 5px;
  color: rgb(155, 155, 155);
  font-size: 16px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.input-box input:hover,
input:focus {
  border-bottom: 1px solid rgb(155, 155, 155);
}

.option-operate-icon {
  position: absolute;
  right: 1px;
}
