.setting-box {
  text-align: start;
  margin: 15px;
}

.setting-option {
  display: flex;
  width: 100%;
  margin-top: 10px;
  height: 25px;
}

.setting-option-key {
  margin-left: 20px;
}

.setting-option-value {
  margin-right: 30px;
  width: 185px;
}
.shortcut-input-box {
  margin-left: auto;
}

.shortcut-input-box input {
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: rgb(155, 155, 155);
  font-size: 16px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.shortcut-input-box input:hover,input:focus {
  border-bottom: 1px solid rgb(155, 155, 155);
}
