.schedule-box {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: rgb(155, 155, 155);
}

.schedule-table-box {
  overflow-y: scroll;
}

.schedule-table {
  margin: 0 auto;
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  text-align: left;
  border: none;
  vertical-align: middle;
}

.schedule-time-column {
  width: 20%;
}

.schedule-content-column {
  width: 80%;
}

.schedule-table th {
  background-color: rgba(243, 243, 243, 0.2);
}

.schedule-content-box {
  margin-top: 10px;
  min-height: 50px;
  padding: 2px 0;
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 8px;
}

.schedule-add {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  width: 240px;
  background-color: rgba(122, 122, 122, 0.8);
  height: 100%;
}

.schedule-add-btn {
  user-select: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  background-color: rgba(122, 122, 122, 0.4);
  border-radius: 8px;
}