.schedule-box {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: rgb(155, 155, 155);
}

.schedule-table-box {
  overflow-y: scroll;
}

.schedule-table {
  margin: 0 auto;
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  text-align: left;
  border: none;
  vertical-align: middle;
}

.schedule-time-column {
  width: 20%;
}

.schedule-content-column {
  width: 80%;
}

.schedule-table th {
  background-color: rgba(243, 243, 243, 0.2);
}

.schedule-content-box {
  margin-top: 10px;
  min-height: 50px;
  padding: 2px 0;
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 8px;
}

.schedule-add-box {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  width: 210px;
  background-color: rgba(53, 53, 53, 1);
  height: 100%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  border-radius: 10px 0 0 0;
  padding: 10px;
}

.schedule-add-btn {
  user-select: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  background-color: rgba(122, 122, 122, 0.4);
  border-radius: 8px;
}

.text-input {
  margin-top: 5px;
  outline: none;
  border: none;
  font-family: sans-serif;
  width: 90%;
  color: rgb(155, 155, 155);
  background: #474747;
  padding: 10px;
  border-radius: 3px;
  box-shadow: inset 2px 2px 4px rgba(35, 35, 35, 0.9), inset -2px -2px 4px rgba(122, 122, 122, 0.5);
}

.text-input:focus{
  border: none;
}