.center-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-option {
  width: 270px;
  display: flex;
  justify-content: flex-end;
}

.center-option-label:hover{
  color: #fff;
  text-decoration:underline;
  cursor: pointer;
}
