.row {
  display: flex;
  border: 2px solid gray;
  border-radius: 12px;
  align-items: center;
  height: 56px;
  max-height: 65px;
  backdrop-filter: blur(15px);
}

.logo {
  position: absolute;
  right: 3px;
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 12;
}

.container {
  margin: 0;
  padding-top: 0;
  text-align: center;
  background: linear-gradient(
    rgba(27, 27, 27, 0.9),
    rgba(39, 39, 39, 0.9),
    rgba(39, 39, 39, 0.9)
  );
  height: 100vh;
  border-radius: 12px;
  overflow: hidden;
}

.seek-input {
  border-radius: 8px;
  margin-left: 2px;
  height: 40px;
  border: 1px solid transparent;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  width: 535px;
  background-color: transparent;
  color: rgb(235, 235, 235);
  outline: none;
}

.seek-option-contain {
  height: 350px;
  overflow-y: scroll;
}

.seek-option {
  height: 50px;
  display: flex;
  align-items: center;
}

.seek-option:hover {
  background-color: rgb(78, 78, 78);
}

.seek-option-icon {
  height: 40px;
  width: 40px;
  margin: 8px;
}

.seek-option-name {
  text-align: left;
  color: rgb(226, 226, 226);
  font-size: 18px;
}
.seek-option-describe {
  text-align: left;
  color: rgb(165, 165, 165);
  font-size: 14px;
}

.seek-option-keyword{
  color: rgb(255, 76, 11);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(216, 216, 216, 0.5);
}
